<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <style>
        th, td {
            border: 1px solid black;
            border-radius: 10px;
            padding: 8px; /* Optional: Add padding for better readability */
        }
        table {
            border-collapse: separate; /* To show border-radius */
            border-spacing: 0; /* Prevents gaps between cells */
            margin: 20px auto; /* Centers the table */
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <% for (user of result) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/user/<%=user.id%>/edit">Edit</a>
                </td>  
                <td>
                    <form method="post" action="/user/<%=user.id%>/delete?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>

                </td>          
            </tr>
        <% } %>
    </table>
</body>
</html>
